@import './_config';

.Room {
  header {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;

    text-align: center;

    border: 1px solid white;
    background-color: $blue;
    h2 {
      margin: 0;
      padding: 6px 0;

      color: white;
    }
    button {
      position: absolute;
      top: 6px;
      right: 6px;

      border: 1px solid white;
    }
  }
}


.Room-Editor {
  h3 {
    margin: 12px auto 0;
  }
  i {
    font-size: 12px;

    display: block;
    span {
      cursor: text;
      user-select: auto;

      color: $green;
    }
  }
  &>button, &>.fieldset, &>select {
    width: 100%;
    margin: 6px 0;
  }
}

.Room-Boards {
  display: flex;
  overflow-x: auto;

  height: 100%;

  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.Room-Boards>button {
  font-size: 24px;

  width: 240px;
  height: 400px;
}

.Room-Boards>* {
  flex: 0 0 auto;
}
